* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    position: relative;
}

.text-box {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

textarea {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.password-instruction {
    margin-bottom: 10px;
}

.password-box input[type="password"] {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#error-message {
    display: none;
}

.error-message {
    font-size: 100px;
    color: red;
    margin-top: 20px;
}

/* Canvas for confetti */
#confettiCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999;
}

/* Other existing styles */
.music-box audio {
    display: none; /* Hide the audio controls */
}

.music-box {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#volumeControl {
    width: 100px;
    margin-left: 10px;
}